# Byte-compiled / optimized Python files
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# IDE files
.vscode/
.idea/

# Streamlit cache and session directories
.streamlit/

# macOS specific files
.DS_Store
