.stApp > header {
    background-color: transparent;
}

.stApp {
    background: linear-gradient(45deg, #218857 10%, #2c5c4c 45%, #bedbd2 55%, #24744d 90%);
    animation: my_animation 20s ease infinite;
    background-size: 200% 200%;
    background-attachment: fixed;
}

@keyframes my_animation {
    0% {background-position: 0% 0%;}
    50% {background-position: 100% 100%;}
    100% {background-position: 0% 0%;}
}
